<!DOCTYPE html>
<html>
    <head>
        <h1>Welcome, Join a Game to Begin</h1>
        <h2>Hover Over an Option for More Information</h2>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>
    <body>
        <button id='joinGame' onclick="window.location.href='\lobbySelect'">Join a Game</button> 
        <button id='findUser' onclick="window.location.href='\profiles'">Find a User</button> 
        <button id='signOut' onclick="window.location.href='\login'">Sign Out</button> 
        
        <label id="hideJoin">Join an Existing Game or Start Your Own</label>
        <label id="hideFind">Find an Existing User's Profile and Statistics</label>
        <label id="hideExit">Sign Out and Leave The Game</label>
    </body>
</html>
