body {
    text-align: center;
    margin-top: 8%;
    background-image: url('/img/background2.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50%;
    background-attachment: fixed;
    background-blend-mode: color;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form, fieldset {
    text-align: center;
    justify-content: center;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    padding: 8px;
}

input {
    font-size: 100%;
}

label {
    font-size: 150%;
}

fieldset {
    border: 2px solid black;
    font-size: large;
}

legend {
    font-size: xx-large;
    font-size: 250%;
}

.btn {
    margin-top: 10px;
    font-size: 120%;
    padding: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 10%;
}

#message {
    font-size: 150%;
    color: red;
}

h1 {
    font-size: 300%;
    font-style: oblique;
}

.btn:hover{
    background-color: #cac9c9;
}