h1 {
    text-align: center;
    font-size: 300%;
    font-style: oblique;
}

h2 {
    font-size: 150%;
    font-style: oblique;
}

body {
    text-align: center;
    margin-top: 2%;
    background-image: url('/img/background2.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50%;
    background-attachment: fixed;
    background-blend-mode: color;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1.5px solid black;
    border-collapse: collapse;
    width: 30%;
    text-align: center;
    font-size: 125%;
}

th {
    text-decoration: underline;
    text-decoration: bold;
    padding: 8px;
    font-size: 130%;
}

tr {
    border: 0.5px solid black;
}

tr:hover {
    background-color: #bebebe;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th:hover {
    box-shadow: none;
    background-color: white;
    border-collapse: none;
}

button {
    font-size: 120%;
    width: 10%;
    padding: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.hide {
    display: none;
}